/** CSS RULES FOR SECRET NOTES 
*	
*/
#SecretNotesApp {
	/*background: white;*/
}

#mainPanel {
/* 	background: teal; */
	width: 1000px;
}

#headerPanel {
/* 	background: green; */
	height: 80px;
}

#logoPanel {
	float: left;
}

#fbPanel {
	float: right;
}

#loadingPanel {
	float: left;
}

#fbButton {
	float: right;
}

#loadingGif.gwt-Image {
	width: 20px;
	height: 20px;
}

#navPanel {
/* 	background: blue; */
	float: left;
}

#contentPanel {
	margin-left: 190px;
/* 	background: orange; */
}

#albumListPanel {
/*  	background: orange; */
	float: left;
}

#albumPhotoPanel {
	background: lightgreen;
 	width: 100px;
	height: 100px;
}

#friendsPanel {
	overflow: scroll;
}

#friendProfilePanel {
	overflow: scroll;
}

a#homeLink.gwt-Anchor {
	display: block;
	width: 178px;
	height: 82px;
	background:url('button_home.png');
}

a:hover#homeLink.gwt-Anchor {
	background:url('button_home_hover.png');
}

a#friendsLink.gwt-Anchor {
	display: block;
	width: 178px;
	height: 82px;
	background:url('button_friends.png');
}

a:hover#friendsLink.gwt-Anchor {
	background:url('button_friends_hover.png');
}

a#notesLink.gwt-Anchor {
	display: block;
	width: 178px;
	height: 82px;
	background:url('button_notes.png');
}

a:hover#notesLink.gwt-Anchor {
	background:url('button_notes_hover.png');
}

a#queryLink.gwt-Anchor {
	display: block;
	width: 178px;
	height: 82px;
	background:url('button_query.png');
}

a:hover#queryLink.gwt-Anchor {
	background:url('button_query_hover.png');
}

.notes_heading {
	font-size: 2em;
	font-weight: bold;
	color: blue;
	margin-bottom: 10px;
	text-align: left;
	text-shadow: #DDD 3px 3px 1px;
}

.notes_panel {
	background-color: white;
	margin: 10px 0px 10px 0px;
}

.friend_panel {
/* 	background-color: green; */
	margin: 5px 2px 5px 2px;
	float: left;
}

#friendLinksPanel {
/*	background-color: blue; */
}

.friendLinkLabel {
	display: inline;
	float: left;
	padding: 4px 4px;
	margin: 2px 4px;
	border: 1px solid lightblue;
	border-radius: 15px;
}

.friendLinkLabel:link {

}

.friendLinkLabel:visited {

}

.friendLinkLabel:hover {
	background-color: lightblue;
	cursor: pointer;
}

.album_photo_panel {
	background-color: red;
	margin: 5px 2px 5px 2px;
	float: left;
}

.note {
  background-color: white;
  margin: 2px 2px 2px 2px;
  display: inline;
  float: left;
}

.gwt-SuggestBox {
	display: block;
}